<!DOCTYPE html>
<html>
<head>
  <title>BlogDemo</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <%= javascript_include_tag "bootstrap-js/bootstrap.min" %>
</head>

<body>
<header>
  <%= render "layouts/navbar" %>
  <%= render "layouts/alerts" %>
</header>
<main>
  <%= yield %>
</main>
</body>
</html>
